/* 
- As minimal as it comes. Just the basics.
- Vars used in following stylesheets such as header and footer
*/

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&display=swap');
/*
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');*/

:root {
    --background-default: #FFFCF7;
    --border:#F2DFC5;
    --text-accent: #005A71;
    --font-default-family:"Chivo", sans-serif;
    --text-primary: #262f31;
    --default-size:8px;
    --max-width:1216px; /* check this one, looks weird */
    --spacing-xsm: calc(.25rem * 2);
    --hero-icon-color:#007759;
    --surface-brand-4b:#F8AE00;
    --dimensions-base: .25rem;
    --dimensions-2x: calc(var(--dimensions-base) * 2);
    --dimensions-3x: calc(var(--dimensions-base) * 3);
    --spacing-xsm: var(--dimensions-2x);
    --spacing-sm: var(--dimensions-3x);
    --font-size-6:18px
}

*,::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
  }

body {
    background: var(--background-default);
    font-family: var(--font-default-family);
    color: var(--text-primary);
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    min-height:100vh;
}

.main{
    flex:1
}

a {
    color: var(--text-accent);
    text-decoration: none;
}

.page-wrapper {
    padding: 0 0.75rem;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    max-width:var(--max-width);
  }

  .breadcrumb{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--spacing-xsm) 0;
    list-style: none;
    margin-top:0;
  }

  .breadcrumb li:not(.first)::before{
    content: '';
    display: inline-block;
    border: 2px solid #e55440;
    border-width: 2px 2px 0 0;
    height: 7px;
    width: 7px;
    transform: rotate(43deg);
    margin: 4px;
  }


  .top-section{
    background:#fff1db;
    width:100vw;
    padding: 0 0.75rem;
    padding-bottom:0.75rem;

    & .hero{
      padding: 80px;
  
      & h1{
          font-weight: 700;
          font-size:36px;
      }
      & hr{
        width: 60px;
        height: 4px;
        background-color: var(--hero-icon-color,var(--surface-brand-4b));
        border: none;
        border-radius: 2px;
        margin: var(--spacing-sm) 0;
      }

      & p{
        font-weight: 500;
        font-size: var(--font-size-6);
        line-height: 1.5em;
      }
    }

  }


