
.progressbar{
    position:relative;    

    & .progress-background,
    & #progressindicator{
        border-radius: var(--radius-md);
        height:10px;
        top:32px;
        left:0;                
        position:absolute;
        margin:0;
        z-index: -1;
    }

    & .progress-background{        
        background:var(--grey);
        width:100%;
    }
    & #progressindicator{        
        background:var(--evergreen-60);
        width:0;
    }
    
    & ul{
        width:100%;
        left:0;
        top:-32px;
        margin:0;
        padding:0;
    }

    & li{    
        padding:10px;
        display:inline-block;
        text-align: center;
        box-sizing: border-box;
        margin:0px;
        width:calc(33% - 4px);
        font-size:10pt;        
        vertical-align: top;

        & b{
            font-size: 20px;
            font-weight: bold;
        }
    }

    /* Bubbles */
    & div{
        display:block;
        padding:10px;
        border-radius:50%;
        background: var(--grey);
        width:50px;
        height:50px;
        margin:auto;
        font-size: 18pt;
        color:var(  --text-primary);
        font-weight: bold;
    }

    & .active div,
    & .done div{
        background:var(--evergreen-60);
        color:var(--white);
   
}

}



@media only screen and (max-width: 270px) {

    .progressbar b{
        display:none;
    }

    .progressbar span {    
        margin-top: -10px;
        display: block;
    }

    .progressbar .active span {    
        margin-top: -72px;
        margin-left: -15px;    
    }

    .progressbar div{
        width: 35px;
        height: 35px;
        font-size: 12pt;
        padding: 7px;
    }
    
    .progressbar ul {       
        top: -25px;
    }

    .progressbar {
        margin-bottom: 20px;
    }
}

#notyetvalid{
    width:100%;
}
