
.info-box{
    padding: var(--spacing-spacing-lg);
    border-radius: var(--radius-md);
    border: 1px solid var(--border);
    background: var(--white);
}

.progressbar{
    margin-top:50px;
    margin-bottom:90px;
    height:10px;
    position:relative;
    background:var(--white);
    border:1px solid  var(  --text-base-text-secondary);
    width:100%;
    font-size: 0;
    border-radius: var(--radius-md);

    & #progressindicator{
        border-radius: var(--radius-md);
        height:10px;
        top:0;
        left:0;
        width:0;
        background:var(--primary-color-hover);
        position:absolute;
        margin:0;
    }
    
    & ul{
        position:absolute;
        width:100%;
        left:0;
        top:-32px;
        margin:0;
        padding:0;
    }

    & li{    
        padding:10px;
        display:inline-block;
        text-align: center;
        box-sizing: border-box;
        margin:0px;
        width:calc(33% - 4px);
        font-size:10pt;        
        vertical-align: top;
    }

    & div{
        display:block;
        padding:10px;
        border-radius:50%;
        background: var(--white);
        width:50px;
        height:50px;
        margin:auto;
        font-size: 18pt;
        border:1px solid var(  --text-base-text-secondary);
        color:var(  --text-base-text-secondary);
    }

    & .active div,
    & .done div{
        background:var(--primary-color);
        color:var(--white);
        border:1px solid var(--primary-color);
}

}



@media only screen and (max-width: 270px) {

    .progressbar b{
        display:none;
    }

    .progressbar span {    
        margin-top: -10px;
        display: block;
    }

    .progressbar .active span {    
        margin-top: -72px;
        margin-left: -15px;    
    }

    .progressbar div{
        width: 35px;
        height: 35px;
        font-size: 12pt;
        padding: 7px;
    }
    
    .progressbar ul {       
        top: -25px;
    }

    .progressbar {
        margin-bottom: 20px;
    }
}

#notyetvalid{
    width:100%;
}
