
/* Language handling */

.lang-hide{
    background:pink;
    display: none;
}

.lang-show{
    color:blue;
}


/* Hide before content load */

.contributor-plural,
#tags_other,
#tags_geometry,
#tags_area,
.tags_absence{
    display:none;
}

.invis{
    width:100%;
    display:block;
    border:0;
}

/* NEW STUFF */


.doilink{
    display:block
}

.img-container{
    max-width: 400px;

    & img{
        max-width: 100%;
    }
}
