
/* Language handling */
.hidden,
.lang-hide{
    display: none;
}

/* Project specific styles */

.shortcut-link{
    display:block
}

.contributor-list{
    display: flex;
    flex-direction: column;
    gap:4px;
    padding-left:0;


    & li{
        display: flex;
        gap:8px;
        align-items: center;
        min-height: 33px;;
    }
}

dl div{
    display: flex;
    padding:var(  --spacing-xsm);
    & dt{
        font-weight:bold;
        flex:1;
        min-width: 100px;
    }

    & dd{
        display: flex;
        flex-wrap: wrap;
        flex:5
    }
}

.tag{
    padding:2px 4px;
    border-radius: 4px;
    margin:4px;
    border: 2px solid var(--text-base-text-secondary);

    & .add-space{
      padding-left: 4px
    }
}
